labs/welcome/code/censor

# Object files
*.o

# Static libraries
*.a

# Dynamic libraries
*.so

# Executable files
*.out
labs/fibvec/test
labs/tictac/game-check
labs/tictac/move-check
labs/rotate/test
labs/rotate/temp
labs/polish/main
labs/polish/test
labs/genepool/genepool
labs/counter/main
labs/counter/charc
labs/counter/wordc
labs/counter/wordct
labs/counter/data/*/*.txt
