labs/welcome/code/censor

# Object files
*.o

# Static libraries
*.a

# Dynamic libraries
*.so

# Executable files
*.out
labs/fibvec/test
labs/tictac/game-check
labs/tictac/move-check
labs/rotate/test
